<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="" overrideMode="Allow">
        <system.webServer>
            <handlers />
        </system.webServer>
    </location>
    <system.webServer>
        <httpErrors errorMode="DetailedLocalOnly">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="%SystemDrive%\inetpub\custerr" path="404.htm" responseMode="File" />
        </httpErrors>
    </system.webServer>
</configuration>
