body,a
{
	color:#3b3b3b;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: 12px;
	line-height: 1.5;
	font-family: 微软雅黑;
	text-decoration:none;
}
.Copyright
{
	text-align:center;
}